<h1>My Artist</h1>

<h2>Artist name:</h2>
<p><%= @artist.name %> </p>
<h2>Artist bio:</h2>
<p><%= @artist.bio %> </p>
<br>
<br>
<%= link_to "Show all Artists", artists_path  %>
<br>
<%= link_to "Edit Artist", edit_artist_path  %>
